!!!
%html
  %head
    %title donate me money now!
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'donation', media: 'all'
    = javascript_pack_tag 'donation'

    -if current_streamer.try(:donation_page_styling).present?
      =stylesheet_link_tag "/styles/#{@donation.streamer.uuid}.css?#{Time.now.to_i}"
    -else
      =stylesheet_link_tag 'donation_defaults', media: 'all'



  %body
    #wrapper
      -if @donation.try(:streamer)
        #donation-box
          .header
            =image_tag @donation.streamer.profile_photo_url
            .info
              %h1=@donation.streamer.name
              %h2 Research project on the impact of basic income in the US.
          .body
            = yield
      -else
        =yield
