

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title cryptodonate.me
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'internal', media: 'all'
    -# = javascript_pack_tag 'application'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "A premium admin dashboard template by Mannatthemes", :name => "description"}/
    %meta{:content => "Mannatthemes", :name => "author"}/

  %body
    / Top Bar Start
    .topbar
      / LOGO
      .topbar-left
        =link_to internal_root_path, class: "logo" do

          %span
            %img.logo-sm{:alt => "logo-small", :src => "#{asset_path 'logo-sm.png'}"}/
          %strong<
            Crypto
            %span.text-danger> Donate
            %i> .me
            -# %img.logo-lg{:alt => "logo-large", :src => "#{asset_path 'logo.png'}"}/
      / end logo
      / Navbar
      %nav.navbar-custom
        %ul.list-unstyled.topbar-nav.float-right.mb-0

          -# %li.hidden-sm
            %a.nav-link.dropdown-toggle.waves-effect.waves-light{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "javascript: void(0);", :role => "button"}
              English
              %img.ml-2{:alt => "", :height => "16", :src => "#{asset_path 'flags/us_flag.jpg'}"}/
              %i.mdi.mdi-chevron-down
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span German
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/germany_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span Italian
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/italy_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span French
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/french_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span Spanish
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/spain_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span Russian
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/russia_flag.jpg'}"}/
          -# %li.dropdown.notification-list
            %a.nav-link.dropdown-toggle.arrow-none.waves-light.waves-effect{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.dripicons-bell.noti-icon
              %span.badge.badge-danger.badge-pill.noti-icon-badge 2
            .dropdown-menu.dropdown-menu-right.dropdown-lg
              / item
              %h6.dropdown-item-text
                Notifications (18)
              .slimscroll.notification-list
                / item
                %a.dropdown-item.notify-item.active{:href => "javascript:void(0);"}
                  .notify-icon.bg-success
                    %i.mdi.mdi-cart-outline
                  %p.notify-details
                    Your order is placed
                    %small.text-muted Dummy text of the printing and typesetting industry.
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-warning
                    %i.mdi.mdi-message
                  %p.notify-details
                    New Message received
                    %small.text-muted You have 87 unread messages
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-info
                    %i.mdi.mdi-glass-cocktail
                  %p.notify-details
                    Your item is shipped
                    %small.text-muted It is a long established fact that a reader will
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-primary
                    %i.mdi.mdi-cart-outline
                  %p.notify-details
                    Your order is placed
                    %small.text-muted Dummy text of the printing and typesetting industry.
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-danger
                    %i.mdi.mdi-message
                  %p.notify-details
                    New Message received
                    %small.text-muted You have 87 unread messages
              / All
              %a.dropdown-item.text-center.text-primary{:href => "javascript:void(0);"}
                View all
                %i.fi-arrow-right
          %li.dropdown
            %a.nav-link.dropdown-toggle.waves-effect.waves-light.nav-user{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              =image_tag(current_streamer.profile_photo_url, class: "rounded-circle")

              %span.ml-1.nav-user-name.hidden-sm
                =current_streamer.name
                \/
                =current_streamer.provider.capitalize
                %i.mdi.mdi-chevron-down
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{:href => "#"}
                %i.dripicons-user.text-muted.mr-2
                Profile
              %a.dropdown-item{:href => "#"}
                %i.dripicons-wallet.text-muted.mr-2
                My Wallet
              %a.dropdown-item{:href => "#"}
                %i.dripicons-gear.text-muted.mr-2
                Settings
              =link_to internal_connected_platforms_path, class: "dropdown-item" do
                %i.dripicons-lock.text-muted.mr-2
                Connected Platforms
              .dropdown-divider
              =link_to logout_path, class: "dropdown-item" do
                %i.dripicons-exit.text-muted.mr-2
                Logout
        / end topbar-nav
        %ul.list-unstyled.topbar-nav.mb-0
          %li
            %button.button-menu-mobile.nav-link.waves-effect.waves-light
              %i.dripicons-menu.nav-icon
          %li.hidden-sm
            .crypto-balance
              %i.dripicons-wallet.text-muted.align-self-center
              .btc-balance
                %h5.m-0
                  9.521.32
                  %span BTC
                %span.text-muted Total Balance
          -# %li.hide-phone.app-search
          -#   %form{:role => "search"}
          -#     %input.form-control{:placeholder => "Search...", :type => "text"}/
          -#     %a{:href => ""}
          -#       %i.fas.fa-search
      / end navbar
    / Top Bar End
    .page-wrapper
      / Left Sidenav
      .left-sidenav
        .main-icon-menu
          %nav.nav
            %a.nav-link{"data-original-title" => "Analytics", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaAnalytic", :title => ""}
              %svg#Layer_1.nav-svg{:style => "enable-background:new 0 0 512 512;", :version => "1.1", :viewbox => "0 0 512 512", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                %g
                  %path{:d => "M184,448h48c4.4,0,8-3.6,8-8V72c0-4.4-3.6-8-8-8h-48c-4.4,0-8,3.6-8,8v368C176,444.4,179.6,448,184,448z"}
                  %path.svg-primary{:d => "M88,448H136c4.4,0,8-3.6,8-8V296c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8V440C80,444.4,83.6,448,88,448z"}
                  %path.svg-primary{:d => "M280.1,448h47.8c4.5,0,8.1-3.6,8.1-8.1V232.1c0-4.5-3.6-8.1-8.1-8.1h-47.8c-4.5,0-8.1,3.6-8.1,8.1v207.8\n                                        C272,444.4,275.6,448,280.1,448z"}
                  %path{:d => "M368,136.1v303.8c0,4.5,3.6,8.1,8.1,8.1h47.8c4.5,0,8.1-3.6,8.1-8.1V136.1c0-4.5-3.6-8.1-8.1-8.1h-47.8\n                                        C371.6,128,368,131.6,368,136.1z"}
            / end MetricaAnalytic
            %a.nav-link{"data-original-title" => "Crypto", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaCrypto", :title => ""}
              %svg.nav-svg{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path.svg-primary{:d => "M410.5 279.2c-5-11.5-12.7-21.6-28.1-30.1-8.2-4.5-16.1-7.8-25.4-10 5.4-2.5 10-5.4 16.3-11 7.5-6.6 13.1-15.7 15.6-23.3 2.6-7.5 4.1-18 3.5-28.2-1.1-16.8-4.4-33.1-13.2-44.8-8.8-11.7-21.2-20.7-37.6-27-12.6-4.8-25.5-7.8-45.5-8.9V32h-40v64h-32V32h-41v64H96v48h27.9c8.7 0 14.6.8 17.6 2.3 3.1 1.5 5.3 3.5 6.5 6 1.3 2.5 1.9 8.4 1.9 17.5V343c0 9-.6 14.8-1.9 17.4-1.3 2.6-2 4.9-5.1 6.3-3.1 1.4-3.2 1.3-11.8 1.3h-26.4L96 416h87v64h41v-64h32v64h40v-64.4c26-1.3 44.5-4.7 59.4-10.3 19.3-7.2 34.1-17.7 44.7-31.5 10.6-13.8 14.9-34.9 15.8-51.2.7-14.5-.9-33.2-5.4-43.4zM224 150h32v74h-32v-74zm0 212v-90h32v90h-32zm72-208.1c6 2.5 9.9 7.5 13.8 12.7 4.3 5.7 6.5 13.3 6.5 21.4 0 7.8-2.9 14.5-7.5 20.5-3.8 4.9-6.8 8.3-12.8 11.1v-65.7zm28.8 186.7c-7.8 6.9-12.3 10.1-22.1 13.8-2 .8-4.7 1.4-6.7 1.9v-82.8c5 .8 7.6 1.8 11.3 3.4 7.8 3.3 15.2 6.9 19.8 13.2 4.6 6.3 8 15.6 8 24.7 0 10.9-2.8 19.2-10.3 25.8z"}
            / end MetricaCrypto
            %a.nav-link{"data-original-title" => 'Projects', "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaProject", :title => ""}
              %svg.nav-svg{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path.svg-primary{:d => "M256 32C132.288 32 32 132.288 32 256s100.288 224 224 224 224-100.288 224-224S379.712 32 256 32zm135.765 359.765C355.5 428.028 307.285 448 256 448s-99.5-19.972-135.765-56.235C83.972 355.5 64 307.285 64 256s19.972-99.5 56.235-135.765C156.5 83.972 204.715 64 256 64s99.5 19.972 135.765 56.235C428.028 156.5 448 204.715 448 256s-19.972 99.5-56.235 135.765z"}
                %path{:d => "M200.043 106.067c-40.631 15.171-73.434 46.382-90.717 85.933H256l-55.957-85.933zM412.797 288A160.723 160.723 0 0 0 416 256c0-36.624-12.314-70.367-33.016-97.334L311 288h101.797zM359.973 134.395C332.007 110.461 295.694 96 256 96c-7.966 0-15.794.591-23.448 1.715L310.852 224l49.121-89.605zM99.204 224A160.65 160.65 0 0 0 96 256c0 36.639 12.324 70.394 33.041 97.366L201 224H99.204zM311.959 405.932c40.631-15.171 73.433-46.382 90.715-85.932H256l55.959 85.932zM152.046 377.621C180.009 401.545 216.314 416 256 416c7.969 0 15.799-.592 23.456-1.716L201.164 288l-49.118 89.621z"}

        .main-menu-inner
          .menu-body.slimscroll
            #MetricaAnalytic.main-icon-menu-pane
              .title-box
                %h6.menu-title Analytics
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-meter>
                    Dashboard
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-user-group>
                    Customers
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-document>
                    Reports
            #MetricaCrypto.main-icon-menu-pane
              .title-box
                -# %h6.menu-title Crypto
              %ul.nav
                %li.nav-item
                  =link_to [:internal, :root], class: "nav-link" do 
                    %i.dripicons-device-desktop>
                    Dashboard
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-swap>
                    Donations
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-swap>
                    Campaigns
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-wallet>
                    My Wallet
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-calendar>
                    Donation Page
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-blog>
                    Profile
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-stack>
                    Settings
            / end Crypto
            #MetricaProject.main-icon-menu-pane
              .title-box
                %h6.menu-title Overlays
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-view-thumb>
                    My Overlays
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-user-id>
                    Create new Overlay

                %li.nav-item
                  %hr
                  =link_to [:internal, :connected_platforms], class: "nav-link" do
                    %i.dripicons-swap
                    Connected Platforms




      .page-content
        .container-fluid
          / Page-Title
          .row
            .col-sm-12
              .page-title-box
                .float-right
                  %ol.breadcrumb
                    %li.breadcrumb-item
                      %a{:href => "javascript:void(0);"} Metrica
                    %li.breadcrumb-item
                      %a{:href => "javascript:void(0);"} Crypto
                    %li.breadcrumb-item.active Dashboard
                %h4.page-title=yield(:title)
              / end page-title-box
            / end col
          / end page title end breadcrumb
          =yield

        %footer.footer.text-center.text-sm-left
          \&#169; 2019 we don't believe in copyright, we believe in Bitcoin
          %span.text-muted.d-none.d-sm-inline-block.float-right
            Created with
            %i.mdi.mdi-heart.text-danger
            by TimVanMonero

    =javascript_include_tag :internal
