

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title cryptodonate.me
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'internal', media: 'all'
    -# = javascript_pack_tag 'application'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "A premium admin dashboard template by Mannatthemes", :name => "description"}/
    %meta{:content => "Mannatthemes", :name => "author"}/

  %body
    / Top Bar Start
    .topbar
      / LOGO
      .topbar-left
        =link_to internal_root_path, class: "logo" do

          %span
            %img.logo-sm{:alt => "logo-small", :src => "#{asset_path 'logo-sm.png'}"}/
          %strong<
            Crypto
            %span.text-danger> Donate
            %i> .me
            -# %img.logo-lg{:alt => "logo-large", :src => "#{asset_path 'logo.png'}"}/
      / end logo
      / Navbar
      %nav.navbar-custom
        %ul.list-unstyled.topbar-nav.float-right.mb-0
          %li.hidden-sm
            .crypto-balance
              %i.dripicons-wallet.text-muted.align-self-center
              .btc-balance
                %h5.m-0
                  9.521.32
                  %span BTC
                %span.text-muted Total Balance
          %li.hidden-sm
            %a.nav-link.dropdown-toggle.waves-effect.waves-light{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "javascript: void(0);", :role => "button"}
              English
              %img.ml-2{:alt => "", :height => "16", :src => "#{asset_path 'flags/us_flag.jpg'}"}/
              %i.mdi.mdi-chevron-down
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span German
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/germany_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span Italian
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/italy_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span French
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/french_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span Spanish
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/spain_flag.jpg'}"}/
              %a.dropdown-item{:href => "javascript: void(0);"}
                %span Russian
                %img.ml-2.float-right{:alt => "", :height => "14", :src => "#{asset_path 'flags/russia_flag.jpg'}"}/
          %li.dropdown.notification-list
            %a.nav-link.dropdown-toggle.arrow-none.waves-light.waves-effect{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.dripicons-bell.noti-icon
              %span.badge.badge-danger.badge-pill.noti-icon-badge 2
            .dropdown-menu.dropdown-menu-right.dropdown-lg
              / item
              %h6.dropdown-item-text
                Notifications (18)
              .slimscroll.notification-list
                / item
                %a.dropdown-item.notify-item.active{:href => "javascript:void(0);"}
                  .notify-icon.bg-success
                    %i.mdi.mdi-cart-outline
                  %p.notify-details
                    Your order is placed
                    %small.text-muted Dummy text of the printing and typesetting industry.
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-warning
                    %i.mdi.mdi-message
                  %p.notify-details
                    New Message received
                    %small.text-muted You have 87 unread messages
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-info
                    %i.mdi.mdi-glass-cocktail
                  %p.notify-details
                    Your item is shipped
                    %small.text-muted It is a long established fact that a reader will
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-primary
                    %i.mdi.mdi-cart-outline
                  %p.notify-details
                    Your order is placed
                    %small.text-muted Dummy text of the printing and typesetting industry.
                / item
                %a.dropdown-item.notify-item{:href => "javascript:void(0);"}
                  .notify-icon.bg-danger
                    %i.mdi.mdi-message
                  %p.notify-details
                    New Message received
                    %small.text-muted You have 87 unread messages
              / All
              %a.dropdown-item.text-center.text-primary{:href => "javascript:void(0);"}
                View all
                %i.fi-arrow-right
          %li.dropdown
            %a.nav-link.dropdown-toggle.waves-effect.waves-light.nav-user{"aria-expanded" => "false", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %img.rounded-circle{:alt => "profile-user", :src => "#{asset_path 'users/user-4.jpg'}"}/
              %span.ml-1.nav-user-name.hidden-sm
                Amelia
                %i.mdi.mdi-chevron-down
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{:href => "#"}
                %i.dripicons-user.text-muted.mr-2
                Profile
              %a.dropdown-item{:href => "#"}
                %i.dripicons-wallet.text-muted.mr-2
                My Wallet
              %a.dropdown-item{:href => "#"}
                %i.dripicons-gear.text-muted.mr-2
                Settings
              %a.dropdown-item{:href => "#"}
                %i.dripicons-lock.text-muted.mr-2
                Lock screen
              .dropdown-divider
              =link_to logout_path, class: "dropdown-item" do
                %i.dripicons-exit.text-muted.mr-2
                Logout
        / end topbar-nav
        %ul.list-unstyled.topbar-nav.mb-0
          %li
            %button.button-menu-mobile.nav-link.waves-effect.waves-light
              %i.dripicons-menu.nav-icon
          %li.hide-phone.app-search
            %form{:role => "search"}
              %input.form-control{:placeholder => "Search...", :type => "text"}/
              %a{:href => ""}
                %i.fas.fa-search
      / end navbar
    / Top Bar End
    .page-wrapper
      / Left Sidenav
      .left-sidenav
        .main-icon-menu
          %nav.nav
            %a.nav-link{"data-original-title" => "Analytics", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaAnalytic", :title => ""}
              %svg#Layer_1.nav-svg{:style => "enable-background:new 0 0 512 512;", :version => "1.1", :viewbox => "0 0 512 512", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                %g
                  %path{:d => "M184,448h48c4.4,0,8-3.6,8-8V72c0-4.4-3.6-8-8-8h-48c-4.4,0-8,3.6-8,8v368C176,444.4,179.6,448,184,448z"}
                  %path.svg-primary{:d => "M88,448H136c4.4,0,8-3.6,8-8V296c0-4.4-3.6-8-8-8H88c-4.4,0-8,3.6-8,8V440C80,444.4,83.6,448,88,448z"}
                  %path.svg-primary{:d => "M280.1,448h47.8c4.5,0,8.1-3.6,8.1-8.1V232.1c0-4.5-3.6-8.1-8.1-8.1h-47.8c-4.5,0-8.1,3.6-8.1,8.1v207.8\n                                        C272,444.4,275.6,448,280.1,448z"}
                  %path{:d => "M368,136.1v303.8c0,4.5,3.6,8.1,8.1,8.1h47.8c4.5,0,8.1-3.6,8.1-8.1V136.1c0-4.5-3.6-8.1-8.1-8.1h-47.8\n                                        C371.6,128,368,131.6,368,136.1z"}
            / end MetricaAnalytic
            %a.nav-link{"data-original-title" => "Crypto", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaCrypto", :title => ""}
              %svg.nav-svg{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path.svg-primary{:d => "M410.5 279.2c-5-11.5-12.7-21.6-28.1-30.1-8.2-4.5-16.1-7.8-25.4-10 5.4-2.5 10-5.4 16.3-11 7.5-6.6 13.1-15.7 15.6-23.3 2.6-7.5 4.1-18 3.5-28.2-1.1-16.8-4.4-33.1-13.2-44.8-8.8-11.7-21.2-20.7-37.6-27-12.6-4.8-25.5-7.8-45.5-8.9V32h-40v64h-32V32h-41v64H96v48h27.9c8.7 0 14.6.8 17.6 2.3 3.1 1.5 5.3 3.5 6.5 6 1.3 2.5 1.9 8.4 1.9 17.5V343c0 9-.6 14.8-1.9 17.4-1.3 2.6-2 4.9-5.1 6.3-3.1 1.4-3.2 1.3-11.8 1.3h-26.4L96 416h87v64h41v-64h32v64h40v-64.4c26-1.3 44.5-4.7 59.4-10.3 19.3-7.2 34.1-17.7 44.7-31.5 10.6-13.8 14.9-34.9 15.8-51.2.7-14.5-.9-33.2-5.4-43.4zM224 150h32v74h-32v-74zm0 212v-90h32v90h-32zm72-208.1c6 2.5 9.9 7.5 13.8 12.7 4.3 5.7 6.5 13.3 6.5 21.4 0 7.8-2.9 14.5-7.5 20.5-3.8 4.9-6.8 8.3-12.8 11.1v-65.7zm28.8 186.7c-7.8 6.9-12.3 10.1-22.1 13.8-2 .8-4.7 1.4-6.7 1.9v-82.8c5 .8 7.6 1.8 11.3 3.4 7.8 3.3 15.2 6.9 19.8 13.2 4.6 6.3 8 15.6 8 24.7 0 10.9-2.8 19.2-10.3 25.8z"}
            / end MetricaCrypto
            %a.nav-link{"data-original-title" => "Projects", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaProject", :title => ""}
              %svg.nav-svg{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path.svg-primary{:d => "M256 32C132.288 32 32 132.288 32 256s100.288 224 224 224 224-100.288 224-224S379.712 32 256 32zm135.765 359.765C355.5 428.028 307.285 448 256 448s-99.5-19.972-135.765-56.235C83.972 355.5 64 307.285 64 256s19.972-99.5 56.235-135.765C156.5 83.972 204.715 64 256 64s99.5 19.972 135.765 56.235C428.028 156.5 448 204.715 448 256s-19.972 99.5-56.235 135.765z"}
                %path{:d => "M200.043 106.067c-40.631 15.171-73.434 46.382-90.717 85.933H256l-55.957-85.933zM412.797 288A160.723 160.723 0 0 0 416 256c0-36.624-12.314-70.367-33.016-97.334L311 288h101.797zM359.973 134.395C332.007 110.461 295.694 96 256 96c-7.966 0-15.794.591-23.448 1.715L310.852 224l49.121-89.605zM99.204 224A160.65 160.65 0 0 0 96 256c0 36.639 12.324 70.394 33.041 97.366L201 224H99.204zM311.959 405.932c40.631-15.171 73.433-46.382 90.715-85.932H256l55.959 85.932zM152.046 377.621C180.009 401.545 216.314 416 256 416c7.969 0 15.799-.592 23.456-1.716L201.164 288l-49.118 89.621z"}
            / end MetricaProject
            %a.nav-link{"data-original-title" => "Ecommerce", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaEcommerce", :title => ""}
              %svg#Layer_2.nav-svg{:style => "enable-background:new 0 0 512 512;", :version => "1.1", :viewbox => "0 0 512 512", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                %g
                  %ellipse.svg-primary{:cx => "160", :cy => "424", :rx => "24", :ry => "24", :transform => "matrix(0.9998 -1.842767e-02 1.842767e-02 0.9998 -7.7858 3.0205)"}
                  %ellipse.svg-primary{:cx => "384.5", :cy => "424", :rx => "24", :ry => "24", :transform => "matrix(2.381651e-02 -0.9997 0.9997 2.381651e-02 -48.5107 798.282)"}
                  %path{:d => "M463.8,132.2c-0.7-2.4-2.8-4-5.2-4.2L132.9,96.5c-2.8-0.3-6.2-2.1-7.5-4.7c-3.8-7.1-6.2-11.1-12.2-18.6\n                                        c-7.7-9.4-22.2-9.1-48.8-9.3c-9-0.1-16.3,5.2-16.3,14.1c0,8.7,6.9,14.1,15.6,14.1c8.7,0,21.3,0.5,26,1.9c4.7,1.4,8.5,9.1,9.9,15.8\n                                        c0,0.1,0,0.2,0.1,0.3c0.2,1.2,2,10.2,2,10.3l40,211.6c2.4,14.5,7.3,26.5,14.5,35.7c8.4,10.8,19.5,16.2,32.9,16.2h236.6\n                                        c7.6,0,14.1-5.8,14.4-13.4c0.4-8-6-14.6-14-14.6H189h-0.1c-2,0-4.9,0-8.3-2.8c-3.5-3-8.3-9.9-11.5-26l-4.3-23.7\n                                        c0-0.3,0.1-0.5,0.4-0.6l277.7-47c2.6-0.4,4.6-2.5,4.9-5.2l16-115.8C464,134,464,133.1,463.8,132.2z"}
            / end MetricaEcommerce
            %a.nav-link{"data-original-title" => "CRM", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaCRM", :title => ""}
              %svg#Layer_3.nav-svg{:style => "enable-background:new 0 0 512 512;", :version => "1.1", :viewbox => "0 0 512 512", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                %g
                  %g
                    %path{:d => "M276,68.1v219c0,3.7-2.5,6.8-6,7.7L81.1,343.4c-2.3,0.6-3.6,3.1-2.7,5.4C109.1,426,184.9,480.6,273.2,480\n                                            C387.8,479.3,480,386.5,480,272c0-112.1-88.6-203.5-199.8-207.8C277.9,64.1,276,65.9,276,68.1z"}
                  %path.svg-primary{:d => "M32,239.3c0,0,0.2,48.8,15.2,81.1c0.8,1.8,2.8,2.7,4.6,2.2l193.8-49.7c3.5-0.9,6.4-4.6,6.4-8.2V36c0-2.2-1.8-4-4-4\n                                        C91,33.9,32,149,32,239.3z"}
            / end MetricaCRM
            %a.nav-link{"data-original-title" => "UI Kit", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaOthers", :title => ""}
              %svg.nav-svg{:viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M70.7 164.5l169.2 81.7c4.4 2.1 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c8.9-4.3 8.9-11.3 0-15.6L272.1 67.2c-4.4-2.1-10.3-3.2-16.1-3.2s-11.7 1.1-16.1 3.2L70.7 148.9c-8.9 4.3-8.9 11.3 0 15.6z"}
                %path.svg-primary{:d => "M441.3 248.2s-30.9-14.9-35-16.9-5.2-1.9-9.5.1S272 291.6 272 291.6c-4.5 2.1-10.3 3.2-16.1 3.2s-11.7-1.1-16.1-3.2c0 0-117.3-56.6-122.8-59.3-6-2.9-7.7-2.9-13.1-.3l-33.4 16.1c-8.9 4.3-8.9 11.3 0 15.6l169.2 81.7c4.4 2.1 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c9.1-4.2 9.1-11.2.2-15.5z"}
                %path{:d => "M441.3 347.5s-30.9-14.9-35-16.9-5.2-1.9-9.5.1S272.1 391 272.1 391c-4.5 2.1-10.3 3.2-16.1 3.2s-11.7-1.1-16.1-3.2c0 0-117.3-56.6-122.8-59.3-6-2.9-7.7-2.9-13.1-.3l-33.4 16.1c-8.9 4.3-8.9 11.3 0 15.6l169.2 81.7c4.4 2.2 10.3 3.2 16.1 3.2s11.7-1.1 16.1-3.2l169.2-81.7c9-4.3 9-11.3.1-15.6z"}
            / end MetricaOthers
            %a.nav-link{"data-original-title" => "Pages", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaPages", :title => ""}
              %svg#Layer_4.nav-svg{:style => "enable-background:new 0 0 512 512;", :version => "1.1", :viewbox => "0 0 512 512", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                %g
                  %path{:d => "M462.5,352.3c-1.9-5.5-5.6-11.5-11.4-18.3c-10.2-12-30.8-29.3-54.8-47.2c-2.6-2-6.4-0.8-7.5,2.3l-4.7,13.4\n                                        c-0.7,2,0,4.3,1.7,5.5c15.9,11.6,35.9,27.9,41.8,35.9c2,2.8-0.5,6.6-3.9,5.8c-10-2.3-29-7.3-44.2-12.8c-8.6-3.1-17.7-6.7-27.2-10.6\n                                        c16-20.8,24.7-46.3,24.7-72.6c0-32.8-13.2-63.6-37.1-86.4c-22.9-21.9-53.8-34.1-85.7-33.7c-25.7,0.3-50.1,8.4-70.7,23.5\n                                        c-18.3,13.4-32.2,31.3-40.6,52c-8.3-6-16.1-11.9-23.2-17.6c-13.7-10.9-28.4-22-38.7-34.7c-2.2-2.8,0.9-6.7,4.4-5.9\n                                        c11.3,2.6,35.4,10.9,56.4,18.9c1.5,0.6,3.2,0.3,4.5-0.8l11.1-10.1c2.4-2.1,1.7-6-1.3-7.2C121,137.4,89.2,128,73.2,128\n                                        c-11.5,0-19.3,3.5-23.3,10.4c-7.6,13.3,7.1,35.2,45.1,66.8c34.1,28.5,82.6,61.8,136.5,92c87.5,49.1,171.1,81,208,81\n                                        c11.2,0,18.7-3.1,22.1-9.1C464.4,364.4,464.7,358.7,462.5,352.3z"}
                  %path.svg-primary{:d => "M312,354c-29.1-12.8-59.3-26-92.6-44.8c-30.1-16.9-59.4-36.5-84.4-53.6c-1-0.7-2.2-1.1-3.4-1.1c-0.9,0-1.9,0.2-2.8,0.7\n                                        c-2,1-3.3,3-3.3,5.2c0,1.2-0.1,2.4-0.1,3.5c0,32.1,12.6,62.3,35.5,84.9c22.9,22.7,53.4,35.2,85.8,35.2c23.6,0,46.5-6.7,66.2-19.5\n                                        c1.9-1.2,2.9-3.3,2.7-5.5C315.5,356.8,314.1,354.9,312,354z"}
            / end MetricaPages
            %a.nav-link{"data-original-title" => "Authentication", "data-placement" => "top", "data-toggle" => "tooltip-custom", :href => "#MetricaAuthentication", :title => ""}
              %svg#Layer_5.nav-svg{:style => "enable-background:new 0 0 512 512;", :version => "1.1", :viewbox => "0 0 512 512", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
                %g
                  %path.svg-primary{:d => "M376,192h-24v-46.7c0-52.7-42-96.5-94.7-97.3c-53.4-0.7-97.3,42.8-97.3,96v48h-24c-22,0-40,18-40,40v192c0,22,18,40,40,40\n                                        h240c22,0,40-18,40-40V232C416,210,398,192,376,192z M270,316.8v68.8c0,7.5-5.8,14-13.3,14.4c-8,0.4-14.7-6-14.7-14v-69.2\n                                        c-11.5-5.6-19.1-17.8-17.9-31.7c1.4-15.5,14.1-27.9,29.6-29c18.7-1.3,34.3,13.5,34.3,31.9C288,300.7,280.7,311.6,270,316.8z\n                                            M324,192H188v-48c0-18.1,7.1-35.1,20-48s29.9-20,48-20s35.1,7.1,48,20s20,29.9,20,48V192z"}
            / end MetricaAuthentication
          / end nav
        / end main-icon-menu
        .main-menu-inner
          .menu-body.slimscroll
            #MetricaAnalytic.main-icon-menu-pane
              .title-box
                %h6.menu-title Analytics
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "../analytics/analytics-index.html"}
                    %i.dripicons-meter>
                    Dashboard
                %li.nav-item
                  %a.nav-link{:href => "../analytics/analytics-customers.html"}
                    %i.dripicons-user-group>
                    Customers
                %li.nav-item
                  %a.nav-link{:href => "../analytics/analytics-reports.html"}
                    %i.dripicons-document>
                    Reports
            / end Analytic
            #MetricaCrypto.main-icon-menu-pane
              .title-box
                %h6.menu-title Crypto
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "../crypto/crypto-index.html"}
                    %i.dripicons-device-desktop>
                    Dashboard
                %li.nav-item
                  %a.nav-link{:href => "../crypto/crypto-exchange.html"}
                    %i.dripicons-swap>
                    Exchange
                %li.nav-item
                  %a.nav-link{:href => "../crypto/crypto-wallet.html"}
                    %i.dripicons-wallet>
                    My Wallet
                %li.nav-item
                  %a.nav-link{:href => "../crypto/crypto-calendar.html"}
                    %i.dripicons-calendar>
                    Calendar
                %li.nav-item
                  %a.nav-link{:href => "../crypto/crypto-news.html"}
                    %i.dripicons-blog>
                    Crypto News
                %li.nav-item
                  %a.nav-link{:href => "../crypto/crypto-ico.html"}
                    %i.dripicons-stack>
                    ICO List
                %li.nav-item
                  %a.nav-link{:href => "../crypto/crypto-settings.html"}
                    %i.dripicons-gear>
                    Settings
            / end Crypto
            #MetricaProject.main-icon-menu-pane
              .title-box
                %h6.menu-title Projects
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-index.html"}
                    %i.dripicons-view-thumb>
                    Dashboard
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-clients.html"}
                    %i.dripicons-user-id>
                    Clients
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-calendar.html"}
                    %i.dripicons-calendar>
                    Calendar
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-team.html"}
                    %i.dripicons-trophy>
                    Team
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-project.html"}
                    %i.dripicons-jewel>
                    Project
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-task.html"}
                    %i.dripicons-checklist>
                    Task
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-kanban-board.html"}
                    %i.dripicons-move>
                    Kanban Board
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-invoice.html"}
                    %i.dripicons-document>
                    Invoice
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-chat.html"}
                    %i.dripicons-conversation>
                    Chat
                %li.nav-item
                  %a.nav-link{:href => "../projects/projects-users.html"}
                    %i.dripicons-user-group>
                    Users
            / end  Project
            #MetricaEcommerce.main-icon-menu-pane
              .title-box
                %h6.menu-title Ecommerce
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "../ecommerce/ecommerce-index.html"}
                    %i.dripicons-device-desktop>
                    Dashboard
                %li.nav-item
                  %a.nav-link{:href => "../ecommerce/ecommerce-products.html"}
                    %i.dripicons-view-apps>
                    Products
                %li.nav-item
                  %a.nav-link{:href => "../ecommerce/ecommerce-product-list.html"}
                    %i.dripicons-list>
                    Product List
                %li.nav-item
                  %a.nav-link{:href => "../ecommerce/ecommerce-product-detail.html"}
                    %i.dripicons-article>
                    Product Detail
                %li.nav-item
                  %a.nav-link{:href => "../ecommerce/ecommerce-cart.html"}
                    %i.dripicons-cart>
                    Cart
                %li.nav-item
                  %a.nav-link{:href => "../ecommerce/ecommerce-checkout.html"}
                    %i.dripicons-card>
                    Checkout
            / end Ecommerce
            #MetricaCRM.main-icon-menu-pane
              .title-box
                %h6.menu-title CRM
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "../crm/crm-index.html"}
                    %i.dripicons-monitor>
                    Dashboard
                %li.nav-item
                  %a.nav-link{:href => "../crm/crm-contacts.html"}
                    %i.dripicons-user-id>
                    Contacts
                %li.nav-item
                  %a.nav-link{:href => "../crm/crm-opportunities.html"}
                    %i.dripicons-lightbulb>
                    Opportunities
                %li.nav-item
                  %a.nav-link{:href => "../crm/crm-leads.html"}
                    %i.dripicons-toggles>
                    Leads
                %li.nav-item
                  %a.nav-link{:href => "../crm/crm-customers.html"}
                    %i.dripicons-user-group>
                    Customers
            / end CRM
            #MetricaOthers.main-icon-menu-pane
              .title-box
                %h6.menu-title Others
              %ul#main_menu_side_nav.nav.metismenu
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-mail
                    %span.w-100 Email
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/email-inbox.html"} Inbox
                    %li
                      %a{:href => "../others/email-read.html"} Read Email
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-view-thumb
                    %span.w-100 UI Elements
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/ui-bootstrap.html"} Bootstrap
                    %li
                      %a{:href => "../others/ui-animation.html"} Animation
                    %li
                      %a{:href => "../others/ui-avatar.html"} Avatar
                    %li
                      %a{:href => "../others/ui-clipboard.html"} Clip Board
                    %li
                      %a{:href => "../others/ui-files.html"} File Manager
                    %li
                      %a{:href => "../others/ui-ribbons.html"} Ribbons
                    %li
                      %a{:href => "../others/ui-dragula.html"}
                        %span Dragula
                    %li
                      %a{:href => "../others/ui-check-radio.html"}
                        %span Check &amp; Radio
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-anchor
                    %span.w-100 Advanced UI
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/advanced-rangeslider.html"} Range Slider
                    %li
                      %a{:href => "../others/advanced-sweetalerts.html"} Sweet Alerts
                    %li
                      %a{:href => "../others/advanced-nestable.html"} Nestable List
                    %li
                      %a{:href => "../others/advanced-ratings.html"} Ratings
                    %li
                      %a{:href => "../others/advanced-highlight.html"} Highlight
                    %li
                      %a{:href => "../others/advanced-session.html"} Session Timeout
                    %li
                      %a{:href => "../others/advanced-idle-timer.html"} Idle Timer
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-document
                    %span.w-100 Forms
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/forms-elements.html"} Basic Elements
                    %li
                      %a{:href => "../others/forms-advanced.html"} Advance Elements
                    %li
                      %a{:href => "../others/forms-validation.html"} Validation
                    %li
                      %a{:href => "../others/forms-wizard.html"} Wizard
                    %li
                      %a{:href => "../others/forms-editors.html"} Editors
                    %li
                      %a{:href => "../others/forms-repeater.html"} Repeater
                    %li
                      %a{:href => "../others/forms-x-editable.html"} X Editable
                    %li
                      %a{:href => "../others/forms-uploads.html"} File Upload
                    %li
                      %a{:href => "../others/forms-img-crop.html"} Image Crop
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-graph-line
                    %span.w-100 Charts
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/charts-apex.html"} Apex
                    %li
                      %a{:href => "../others/charts-morris.html"} Morris
                    %li
                      %a{:href => "../others/charts-chartist.html"} Chartist
                    %li
                      %a{:href => "../others/charts-flot.html"} Flot
                    %li
                      %a{:href => "../others/charts-peity.html"} Peity
                    %li
                      %a{:href => "../others/charts-chartjs.html"} Chartjs
                    %li
                      %a{:href => "../others/charts-sparkline.html"} Sparkline
                    %li
                      %a{:href => "../others/charts-knob.html"} Jquery Knob
                    %li
                      %a{:href => "../others/charts-justgage.html"} JustGage
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-view-list-large
                    %span.w-100 Tables
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/tables-basic.html"} Basic
                    %li
                      %a{:href => "../others/tables-datatable.html"} Datatables
                    %li
                      %a{:href => "../others/tables-responsive.html"} Responsive
                    %li
                      %a{:href => "../others/tables-footable.html"} Footable
                    %li
                      %a{:href => "../others/tables-jsgrid.html"} Jsgrid
                    %li
                      %a{:href => "../others/tables-editable.html"} Editable
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-headset
                    %span.w-100 Icons
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/icons-materialdesign.html"} Material Design
                    %li
                      %a{:href => "../others/icons-dripicons.html"} Dripicons
                    %li
                      %a{:href => "../others/icons-fontawesome.html"} Font awesome
                    %li
                      %a{:href => "../others/icons-themify.html"} Themify
                    %li
                      %a{:href => "../others/icons-typicons.html"} Typicons
                    %li
                      %a{:href => "../others/icons-emoji.html"}
                        Emoji
                        %i.em.em-ok_hand
                    %li
                      %a{:href => "../others/icons-svg.html"} SVG
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-map
                    %span.w-100 Maps
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/maps-google.html"} Google Maps
                    %li
                      %a{:href => "../others/maps-vector.html"} Vector Maps
                / end nav-item
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.dripicons-article
                    %span.w-100 Email Templates
                    %span.menu-arrow
                      %i.mdi.mdi-chevron-right
                  %ul.nav-second-level{"aria-expanded" => "false"}
                    %li
                      %a{:href => "../others/email-templates-basic.html"} Basic Action Email
                    %li
                      %a{:href => "../others/email-templates-alert.html"} Alert Email
                    %li
                      %a{:href => "../others/email-templates-billing.html"} Billing Email
                / end nav-item
              / end nav
            / end Others
            #MetricaPages.main-icon-menu-pane
              .title-box
                %h6.menu-title Pages
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-profile.html"}
                    %i.dripicons-user>
                    Profile
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-chat.html"}
                    %i.dripicons-conversation>
                    Chat
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-contact-list.html"}
                    %i.dripicons-user-id>
                    Contact List
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-tour.html"}
                    %i.dripicons-rocket>
                    Tour
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-timeline.html"}
                    %i.dripicons-clock>
                    Timeline
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-invoice.html"}
                    %i.dripicons-document>
                    Invoice
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-treeview.html"}
                    %i.dripicons-network-3>
                    Treeview
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-starter.html"}
                    %i.dripicons-clipboard>
                    Starter Page
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-pricing.html"}
                    %i.dripicons-article>
                    Pricing
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-blogs.html"}
                    %i.dripicons-blog>
                    Blogs
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-faq.html"}
                    %i.dripicons-question>
                    FAQs
                %li.nav-item
                  %a.nav-link{:href => "../pages/pages-gallery.html"}
                    %i.dripicons-photo-group>
                    Gallery
            / end Pages
            #MetricaAuthentication.main-icon-menu-pane
              .title-box
                %h6.menu-title Authentication
              %ul.nav
                %li.nav-item
                  %a.nav-link{:href => "../authentication/auth-login.html"}
                    %i.dripicons-enter>
                    Log in
                %li.nav-item
                  %a.nav-link{:href => "../authentication/auth-register.html"}
                    %i.dripicons-pencil>
                    Register
                %li.nav-item
                  %a.nav-link{:href => "../authentication/auth-recover-pw.html"}
                    %i.dripicons-clockwise>
                    Recover Password
                %li.nav-item
                  %a.nav-link{:href => "../authentication/auth-lock-screen.html"}
                    %i.dripicons-lock>
                    Lock Screen
                %li.nav-item
                  %a.nav-link{:href => "../authentication/auth-404.html"}
                    %i.dripicons-warning>
                    Error 404
                %li.nav-item
                  %a.nav-link{:href => "../authentication/auth-500.html"}
                    %i.dripicons-wrong>
                    Error 500
            / end Authentication
          / end menu-body
        / end main-menu-inner
      / end left-sidenav
      / Page Content
      .page-content
        .container-fluid
          / Page-Title
          .row
            .col-sm-12
              .page-title-box
                .float-right
                  %ol.breadcrumb
                    %li.breadcrumb-item
                      %a{:href => "javascript:void(0);"} Metrica
                    %li.breadcrumb-item
                      %a{:href => "javascript:void(0);"} Crypto
                    %li.breadcrumb-item.active Dashboard
                %h4.page-title=yield(:title)
              / end page-title-box
            / end col
          / end page title end breadcrumb
          =yield

        %footer.footer.text-center.text-sm-left
          \&#169; 2019 Metrica
          %span.text-muted.d-none.d-sm-inline-block.float-right
            Crafted with
            %i.mdi.mdi-heart.text-danger
            by Mannatthemes
        / end footer
      / end page content
    / end page-wrapper
    / jQuery
    =javascript_include_tag :internal
